// html {
//   scroll-behavior: smooth;
// }

// .mobile-menu.is-open html {
//   scroll-behavior: auto;
// }

body {
  margin: 0;
  font-size: 14px;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  background-color: $green-color;
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desctop {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
