p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  cursor: url(../images/cursor/Cursor@1x.png), auto;
}

address {
  font-style: normal;
}

img {
  // display: block;
  // max-width: 100%;
  // height: auto;
}

a {
  text-decoration: none;
  cursor: url(../images/cursor/Cursor@1x.png), auto;
}
