@import './common';
@import './utils/varibles';
@import './utils/mixins';
@import './utils/placeholders';
@import './base/base';
@import './base/reset';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/customer-reviews';
@import './layouts/gallery';
@import './layouts/natural';
@import './layouts/contacts';
@import './layouts/footer';

@import './layouts/modals/franchise-modal';
@import './layouts/modals/mobile-menu';
@import './layouts/modals/modal-ingredients';
@import './layouts/modals/our-location-modal';
@import './layouts/modals/product-card';
@import './layouts/modals/read-more-modal';
