.natural__gap-box {
  display: flex;
  flex-direction: column;
  gap: 168px;
  align-items: center;

  @include tablet {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  @include desctop {
    gap: 29px;
  }
}

.natural__box-title {
  position: relative;
  width: 280px;
  height: 420px;
  border-radius: 15px;

  padding: 40px;
  padding-top: 123px;
  background-color: #aec6a5;

  &:nth-child(2) {
    background-color: #efd478;
  }

  &:nth-child(3) {
    background-color: #d6936d;
  }

  @include tablet {
    flex-basis: calc((100% - 32px) / 3);
    height: 428px;
    padding: 26px;
    padding-top: 108px;
  }

  @include desctop {
    height: 536px;
    padding: 64px;
    padding-top: 165px;
  }
}

.natural__name {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;
  margin-bottom: 40px;

  @include tablet {
    font-size: 22px;
    line-height: calc(27 / 22);
  }
  @include desctop {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 66px;
  }
}

.natural__descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: auto;

  @include tablet {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @include desctop {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.plate-container__arrow--black {
  position: absolute;
  bottom: 16px;
  left: 50%;

  transform: translateX(-50%);
  fill: #131313;

  @include tablet {
    bottom: 12px;
  }
  @include desctop {
    bottom: 60px;
  }
}
