.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    opacity: 100%;
    z-index: 3;
    overflow-y: auto;
  
    transition: opacity 250ms linear;
  
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
  
  .modal-read-more {
    position: relative;
    background-color: #fff;
    width: 280px;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    left: 50%;
    top: 20px;
    z-index: 5;
    padding: 28px 20px;
  
    transform: translateX(-50%);
  
    @include tablet {
      width: 568px;
      padding: 32px 40px;
    }
  }
  
  .modal-read-more__closer {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
  }
  
  .modal-read-more__svg {
    fill: black;
  
    transition: fill 250ms linear;
  
    .modal-read-more__closer:hover &,
    .modal-read-more__closer:focus & {
      fill: $accent-color;
    }
  }
  
  .modal-read-more__title {
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  
    @include tablet {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  
  .read-more__container {
    width: 224px;
    height: 199px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    @extend %flex-center;
    overflow: hidden;
  
    @include tablet {
      width: 448px;
      height: 260px;
      margin-bottom: 32px;
    }
  }
  
  .read-more__iframe--min {
    @include tablet {
      display: none;
    }
  }
  
  .read-more__iframe--big {
    @include min-tablet {
      display: none;
    }
  }
  
  .modal__read-more {
    font-weight: 400;
    font-size: 16px;
    display: block;
    line-height: calc(20 / 16);
    color: #131313;
  
    @include tablet {
      font-size: 14px;
    }
  }
  