.about__descriptions-box {
  @include tablet {
    position: relative;
    top: -14px;
    margin-left: 38px;
  }

  @include desctop {
    margin-left: 109px;
    top: 46px;
  }
}

.about__descriptions {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(21 / 12);
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;

  @include tablet {
    width: 336px;
    text-align: left;
  }

  &:nth-child(2) {
    margin-top: 8px;
  }

  &:nth-child(3) {
    margin-top: 8px;
    @include min-tablet {
      display: none;
    }
  }

  @include desctop {
    width: 463px;
    text-align: left;
    font-size: 14px;
    line-height: calc(27 / 14);
  }
}

.about__read-more {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    margin-top: 32px;
    margin-left: 0;
  }

  @include desctop {
    margin-top: 59px;
  }
}
