<div class="mobile-menu js-menu-container" id="mobile-menu">
  <a href="" class="link logo logo__modal">
    <svg class="logo__svg">
      <use href="../src/images/symbol-defs.svg#logo"></use></svg
  ></a>
  <button class="mobile-menu__closer js-close-menu">
    <svg class="mobile-menu__svg-closer" width="32" height="32">
      <use href="../src/images/symbol-defs.svg#close"></use>
    </svg>
  </button>

  <nav class="nav-menu">
    <ul class="nav-menu__list">
      <ul class="nav-menu__item">
        <a href="" class="nav-menu__link">Home</a>
      </ul>
      <ul class="nav-menu__item">
        <a href="" class="nav-menu__link">How it’s made?</a>
      </ul>
      <ul class="nav-menu__item">
        <a href="" class="nav-menu__link">Our products</a>
      </ul>
      <ul class="nav-menu__item">
        <a href="" class="nav-menu__link">Contact</a>
      </ul>
    </ul>
  </nav>
  <button class="header__buy-now mobile-menu__button">Buy-now ></button>
</div>