.container-mobile-points {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @include min-tablet {
    margin-top: 237px;
  }
  @include tablet {
    margin-top: 12px;
  }
  @include desctop {
    margin-top: 67px;
  }
}

.hero-images__svg {
  fill: $accent-color;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 50%;

  transform: translatex(-50%);
}

.hero-images__svg--1 {
  width: 320px;
  left: 50%;

  transform: translateX(-50%);

  @include tablet {
    display: none;
  }
}

.hero-images__svg--3 {
  width: 768px;

  @include min-tablet {
    display: none;
  }

  @include desctop {
    display: none;
  }
}

.hero-images__svg--5 {
  width: 1200px;

  @include min-desctop {
    display: none;
  }
}
