
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 12px;

  @include tablet {
    margin-top: 20px;
  }
}

// nav
.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  @include min-desctop {
    display: none;
  }
  display: flex;
  margin-left: 308px;
}

.nav__item:not(:last-child) {
  margin-right: 28px;
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  align-items: center;
  color: #fcfcfc;
  cursor: url(../images/cursor/Cursor@1x.png), auto;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// logo
.logo {
  @extend %flex-center;
}

.logo__svg {
  width: 40px;
  height: 37px;
  fill: $accent-color;

  @include tablet {
    width: 48px;
    height: 44px;
  }

  @include desctop {
    width: 60px;
    height: 65px;
  }
}

// burger
.header__burger {
  @extend %flex-center;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;

  @include desctop {
    display: none;
  }
}

.header__svg {
  fill: $white-color;
  transition: fill 250ms linear;

  .header__burger:hover &,
  .header__burger:focus & {
    fill: $accent-color;
  }
}

// buy now
.header__buy-now {
  @include min-tablet {
    display: none;
  }

  margin-left: 32px;
  width: 152px;
  height: 42px;
  border: none;
  background-color: $accent-color;
  border-radius: 10px;

  font-weight: 600;
  line-height: calc(17 / 14);
  @extend %flex-center;
  color: #000000;

  transition: box-shadow 250ms linear, text-shadow 250ms linear;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.single-right {
  display: inline-block;
  margin-left: 4px;
  }

