    <section class="about section">
      <div class="container">
        <h3>tradition and love</h3>
        <h2>how it’s made?</h2>
        <div>
          <img src="./images/about-cow.jpg" alt="about-cow" />
        </div>
        <div>
          <ul>
            <li>
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </li>
            <li>
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </li>
          </ul>
          <button type="button">
            Read more
            <svg width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-about-button-arrow"></use>
            </svg>
          </button>
          <ul>
            <li>
              <svg width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-cow"></use>
              </svg>
            </li>
            <li>721</li>
            <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
            <li>
              <svg width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-weight"></use>
              </svg>
            </li>
            <li>16kg</li>
            <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
            <li>
              <svg width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-ice-crema"></use>
              </svg>
            </li>
            <li>84</li>
            <li>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
          </ul>
        </div>
      </div>
    </section>
 
