<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <section class="about section">
      <div class="container">
        <div class="title-box">
          <h3 class="about-title">tradition and love</h3>
          <h2 class="about-title-two">how it’s made?</h2>
        </div>
        <div class="box-cow-item">
          <div class="about-picture-box">
            <img class="picture-cow" srcset="./images/about/about-320@1x.png 279w, 
            ./images/about/about-320@2x.png 558w, 
            ./images/about/about-768@1x.png 330w, 
            ./images/about/about-768@2x.png 660w, 
            ./images/about/about-1200@1x.png 490w, 
            ./images/about/about-1200@2x.png 980w"
            sizes=" (min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 320px) 279px" 
            src="./images/about/about-1200@1x.png" alt="about-cow"/>
            <div class="cow-shadow"></div>
          </div>
         <div>
          <ul class="about-text">
            <li class="about-item">
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </li>
            <li class="about-item-two">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </li>
            <li class="about-item-three">
              This is enough to choose ice cream and 
              coffee for any mood!
            </li>
          </ul>
          <button class="about-button" type="button">
            Read more
            <svg class="button-arrow" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-about-button-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="about-benefits-box">
          <ul class="about-benefits">
            <li class="benefits-item">
              <svg class="icon-benefuts" width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-cow"></use>
              </svg>
            </li>
            <li class="benefits-item"><p class="benefits-number">721</p></li>
            <li class="benefits-item">
             <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            </ul>
            <ul class="about-benefits">
            <li class="benefits-item">
              <svg class="icon-benefuts" width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-weight"></use>
              </svg>
            </li>
            <li class="benefits-item"><p class="benefits-number">16kg</p></li>
            <li class="benefits-item">
             <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            </ul>
            <ul class="about-benefits">
             <li class="benefits-item">
              <svg class="icon-benefuts" width="36" height="36">
                <use href="./images/symbol-defs.svg#icon-ice-crema"></use>
              </svg>
            </li>
            <li class="benefits-item"><p class="benefits-number">84</p></li>
            <li class="benefits-item">
             <p class="benefits-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
          </ul>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
