<section class="advantages">
  <div class="container">
    <!-- img -->
    <div class="one-box">
      <div class="advantages__img-container swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="advantages__img swiper-slide">
            <img
              class="advantages__img"
              srcset="
                ./images/advantages/advantages-320-01@1x.jpg   280w,
                ./images/advantages/advantages-320-01@2x.jpg   560w,
                ./images/advantages/advantages-320-01@3x.jpg   840w,
                ./images/advantages/advantages-768-01@1x.jpg   704w,
                ./images/advantages/advantages-768-01@2x.jpg  1408w,
                ./images/advantages/advantages-768-01@3x.jpg  2112w,
                ./images/advantages/advantages-1200-01@1x.jpg 1013w,
                ./images/advantages/advantages-1200-01@2x.jpg 2026w,
                ./images/advantages/advantages-1200-01@3x.jpg 3039w
              "
              sizes="(min-width:1200px) 1013px,(min-width:768px) 704px,(min-width:320px) 280px, 100vw"
              src="./images/advantages/advantages-1200-01@1x.jpg"
              alt="морозиво"
            />
          </div>
          <div class="advantages__img swiper-slide">
            <img
              class="advantages__img"
              srcset="
                ./images/advantages/advantages-320-02@1x.jpg   280w,
                ./images/advantages/advantages-320-02@2x.jpg   560w,
                ./images/advantages/advantages-320-02@3x.jpg   840w,
                ./images/advantages/advantages-768-02@1x.jpg   704w,
                ./images/advantages/advantages-768-02@2x.jpg  1408w,
                ./images/advantages/advantages-768-02@3x.jpg  2112w,
                ./images/advantages/advantages-1200-02@1x.jpg 1013w,
                ./images/advantages/advantages-1200-02@2x.jpg 2026w,
                ./images/advantages/advantages-1200-02@3x.jpg 3039w
              "
              sizes="(min-width:1200px) 1013px,(min-width:768px) 704px,(min-width:320px) 280px, 100vw"
              src="./images/advantages/advantages-1200-02@1x.jpg"
              alt="морозиво"
            />
          </div>
          <div class="advantages__img swiper-slide">
            <img
              class="advantages__img"
              srcset="
                ./images/advantages/advantages-320-03@1x.jpg   280w,
                ./images/advantages/advantages-320-03@2x.jpg   560w,
                ./images/advantages/advantages-320-03@3x.jpg   840w,
                ./images/advantages/advantages-768-03@1x.jpg   704w,
                ./images/advantages/advantages-768-03@2x.jpg  1408w,
                ./images/advantages/advantages-768-03@3x.jpg  2112w,
                ./images/advantages/advantages-1200-03@1x.jpg 1013w,
                ./images/advantages/advantages-1200-03@2x.jpg 2026w,
                ./images/advantages/advantages-1200-03@3x.jpg 3039w
              "
              sizes="(min-width:1200px) 1013px,(min-width:768px) 704px,(min-width:320px) 280px, 100vw"
              src="./images/advantages/advantages-1200-03@1x.jpg"
              alt="морозиво"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!-- avatar -->
    <div class="two-box">
      <div class="one swiper mySwiper-one">
        <div class="swiper-wrapper">
          <div class="advantages__comment-container swiper-slide">
            <img
              class="advantages__avatar"
              src="./images/advantages/advantages-ava-01@3x.png"
              alt="avatar"
              width="85"
              ß
              height="85"
            />
            <div class="commentar-box">
              <p>
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <div class="advantages__name">Bryan, New-York</div>
          </div>
          <div class="advantages__comment-container swiper-slide">
            <img
              class="advantages__avatar"
              src="./images/advantages/advantages-ava-02@3x.png"
              alt="avatar"
              width="85"
              height="85"
            />
            <div class="commentar-box">
              <p>
                Every day we come to you with friends after classes in college. We
                love your ice cream and casual atmosphere!
              </p>
            </div>
            <div class="advantages__name">Diana, Chicago</div>
          </div>
          <div class="advantages__comment-container swiper-slide">
            <img
              class="advantages__avatar"
              src="./images/advantages/advantages-ava-03@3x.png"
              alt="avatar"
              width="85"
              height="85"
            />
            <div class="commentar-box">
              <p>
                Ice cream is my passion! I love your chocolate hazelnut ice cream!
                And I really like the excellent service - always served politely
                and quickly!
              </p>
            </div>
            <div class="advantages__name">Emily, Los Angeles</div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
