<section>
    <div class="container">
      <div class="boxes">
         <div class="contact-box">
            <button class="contact-buttom" type="button">cafe</button>
          <ul class="contact-menu">
            <li class="item-country">Chicago</li>
            <li class="item-address">10340 Ridgeland Ave, 
                Chicago Ridge, IL 60415, USA</li>
                <li class="line"></li>
            <li class="item-day">Monday - Friday</li>
            <li class="item-time">06:00 AM - 10:00 PM</li>
            <li class="item-day">Saturday - Sunday</li>
            <li class="item-time">08:00 AM - 16:00 PM</li>
            <li class="line"></li>
            <li class="item-contact">+61(0) 383 766 284</li>
            <li class="item-contact">noreply@envato.com</li>
          </ul>
        </div>
        <div class="contact-box">
            <button class="contact-buttom foodtruck" type="button">foodtruck</button>
          <ul class="contact-menu">
            <li class="item-country">Los Angeles</li>
            <li class="item-address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</li>
                <li class="line"></li>
            <li class="item-day">Monday - Friday</li>
            <li class="item-time">06:00 AM - 10:00 PM</li>
            <li class="item-day">Saturday - Sunday</li>
            <li class="item-time">08:00 AM - 16:00 PM</li>
            <li class="line"></li>
            <li class="item-contact">+61(0) 383 766 284</li>
            <li class="item-contact">noreply@envato.com</li>
          </ul>
        </div>
        <div class="contact-box">
            <button class="contact-buttom" type="button">cafe</button>
          <ul class="contact-menu">
            <li class="item-country">New York</li>
            <li class="item-address">726 Sterling Pl, Brooklyn, NY 11222, USA</li>
                <li class="line"></li>
            <li class="item-day">Monday - Friday</li>
            <li class="item-time">06:00 AM - 10:00 PM</li>
            <li class="item-day">Saturday - Sunday</li>
            <li class="item-time">08:00 AM - 16:00 PM</li>
            <li class="line"></li>
            <li class="item-contact">+61(0) 383 766 284</li>
            <li class="item-contact">noreply@envato.com</li>
          </ul>
        </div>
      </div>
    </div>
</section>