<section class="customer-reviews-section">
  <div class="customer-reviews">
   
    <ul class="customer-reviews-list">
      <li class="customer-reviews-item">
        <img
          src="./images/customer/customer-img1.png"
          alt="Girl in grey dress"
          width="107"
          height="160"
        />
        <p class="customer-reviews-text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-reviews-name">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews-item">
        <img
          src="./images/customer/customer-img2.png"
          alt="Man in pink cap eat ice cream"
          width="97"
          height="91"
        />
        <p class="customer-reviews-text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="customer-reviews-name">Bryan, New-York</p>
      </li>
      <li class="customer-reviews-item">
        <img
          src="./images/customer/customer-img3.png"
          alt="Woman in a black dress and glasses is smiling with a cup of coffee"
          width="91"
          height="94"
        />
        <p class="customer-reviews-text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="customer-reviews-name">Diana, Chicago</p>
      </li>
    </ul>
  </div>
</section>
