<div class="swiper myS">
  <div class="swiper-wrapper customer-reviews-list">
    <div class="swiper-slide customer-reviews-item">
      <div class="frame1">
       <div class="frame2">
        <picture>
           <source
                  srcset="
                    ./images/customer/customer-img1.jpeg    1x,
                    ./images/customer/customer-img1-2x.jpeg 2x
                  "
                />  
          <img
              class="first-img"
              src="./images/customer/customer-img1.jpeg"
              alt="Girl in grey dress"
              width="500"
              height="750"
            />
        </picture>
       </div>
      </div>

      <p class="customer-reviews-text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="customer-reviews-name">Emily, Los Angeles</p>
    </div>
    <div class="swiper-slide customer-reviews-item">
      <div class="frame1">
       <div class="frame2">
          <picture>
             <source
                srcset="
                  ./images/customer/customer-img2.jpeg    1x,
                  ./images/customer/customer-img2-2x.jpeg 2x
                "
              />
            <img
              src="./images/customer/customer-img2.jpeg"
              alt="Man in pink cap eat ice cream"
              width="938"
              height="750"
            />
          </picture>
       </div>
      </div>
      <p class="customer-reviews-text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="customer-reviews-name">Bryan, New-York</p>
    </div>
    <div class="swiper-slide customer-reviews-item">
      <div class="frame1">
       <div class="frame2">
        <picture>
           <source
                  srcset="
                    ./images/customer/customer-img3.jpeg    1x,
                    ./images/customer/customer-img3-2x.jpeg 2x
                  "
                />  
          <img
              src="./images/customer/customer-img3.jpeg"
              alt="Woman in a black dress and glasses is smiling with a cup of coffee"
             width="3396"
              height="5161"
            />
        </picture>
       </div>
      </div>
      <p class="customer-reviews-text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="customer-reviews-name">Diana, Chicago</p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
