<section class="footer" >
  <div class="container">
    <ul class="footer-box" id="contact">
      <!-- one -->
      <li class="footer-box__container">
        <button class="footer-box__buttom">cafe</button>
        <ul class="footer-box__list">
          <li class="footer-box__item">
            <p class="footer-box__city">Chicago</p>
            <a class="footer-box__city-link" href=""
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="footer-box__item">
            <p class="footer-box__day">Monday - Friday</p>
            <p class="footer-box__time">06:00 AM - 10:00 PM</p>
            <p class="footer-box__day">Saturday - Sunday</p>
            <p class="footer-box__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="footer-box__item">
            <address class="address">
              <a class="address__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="address__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </address>
          </li>
        </ul>
      </li>

      <!-- two -->
      <li class="footer-box__container">
        <button class="footer-box__buttom">FOODTRUCK</button>
        <ul class="footer-box__list">
          <li class="footer-box__item">
            <p class="footer-box__city">Chicago</p>
            <a class="footer-box__city-link" href=""
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="footer-box__item">
            <p class="footer-box__day">Monday - Friday</p>
            <p class="footer-box__time">06:00 AM - 10:00 PM</p>
            <p class="footer-box__day">Saturday - Sunday</p>
            <p class="footer-box__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="footer-box__item">
            <address class="address">
              <a class="address__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="address__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </address>
          </li>
        </ul>
      </li>

      <!-- three -->
      <li class="footer-box__container">
        <button class="footer-box__buttom">CAFE</button>
        <ul class="footer-box__list">
          <li class="footer-box__item">
            <p class="footer-box__city">Chicago</p>
            <a class="footer-box__city-link" href=""
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="footer-box__item">
            <p class="footer-box__day">Monday - Friday</p>
            <p class="footer-box__time">06:00 AM - 10:00 PM</p>
            <p class="footer-box__day">Saturday - Sunday</p>
            <p class="footer-box__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="footer-box__item">
            <address class="address">
              <a class="address__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
              <a class="address__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </address>
          </li>
        </ul>
      </li>
    </ul>

    <!-- footer__buttons -->
    <div class="footer__buttons">
      <button class="footer__button header__buy-now" data-our-location-modal-open>
        Our Locations
        <svg class="single-right" width="12" height="12">
          <use href="./images/symbol-defs.svg#single-right"></use>
        </svg>
      </button>
      <button class="footer__button hero__button" data-franchise-open>
        Franchise
        <svg class="single-right" width="12" height="12">
          <use href="./images/symbol-defs.svg#single-right"></use>
        </svg>
      </button>
    </div>

    <!-- footer__title -->
    <div class="footer__flex">
      <div class="footer__title-box">
        <p class="foote__title-one">
          homemade ice cream <br class="footer__br" />
          made
        </p>
        <p class="foote__title-two">
          with <br class="footer__br" />
          passion
        </p>
      </div>

      <!-- icon -->
      <div class="footer__icon-feel-container">
        <div class="icon-container">
          <a href="" class="footer__icon-box">
            <svg class="footer__svg" width="20" height="20">
              <use href="./images/symbol-defs.svg#git-hub"></use>
            </svg>
          </a>
          <a href="" class="footer__icon-box">
            <svg class="footer__svg" width="20.04" height="15.87">
              <use href="./images/symbol-defs.svg#telegram"></use>
            </svg>
          </a>
          <a href="" class="footer__icon-box">
            <svg class="footer__svg" width="9.35" height="20.04">
              <use href="./images/symbol-defs.svg#facebook"></use>
            </svg>
          </a>
        </div>
        <p class="footer__feel-contact">
          Feel free to contact
          <a class="footer__feel-link" href="tel:+61038376628"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <p class="copyright">
    &#169; 2022 - IceCream. <br class="copyright__br" />
    All Rights Reserved.
  </p>
</section>
