<footer class="footer">
    <div class="container">
        <section class="section-buttons">
            <div class="buttons">
                <button type="button" class="button-footer locations">Our Locations
                    <svg class="button-footer-icon">
                        <use href="/src/images/symbol-defs.svg#icon-about-button-arrow"></use>
                    </svg></button>
                <button type="button" class="button-footer franchise">Franchise
                    <svg class="button-footer-icon">
                        <use href="/src/images/symbol-defs.svg#icon-about-button-arrow"></use>
                    </svg></button>
                </button>
            </div>
        </section>
        <section class="section-footer">
            <div class="footer-left">
                <p class="footer-title small">HOMEMADE ICE CREAM MADE</p>
                <p class="footer-title big">WITH PASSION</p>
            </div>
            <div class="footer-right">
                <ul class="footer-list">
                    <li>
                        <a href="https://github.com/" class="footer-links">
                            <svg class="icon-footer">
                                <use href="/src/images/icons-footer.svg#github" target="_blank"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.telegram.org/k/" class="footer-links">
                            <svg class="icon-footer">
                                <use href="/src/images/icons-footer.svg#telegram" target="_blank"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" class="footer-links">
                            <svg class="icon-footer">
                                <use href="/src/images/icons-footer.svg#facebook" target="_blank"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="contact text">Feel free to contact <a href="tel:+610383766284" class="contact tel">+61 (0) 383 766 284</a></p>
            </div>
        </section>
        <section class="reserved">
            <p class="reserved-text">&#169; 2022 - IceCream.</p>
            <p class="reserved-text">All Rights Reserved.</p>
        </section>
    </div>
</footer>