<section class="gallery-sections">
  <div class="gallery-container-wrapp">
    <div class="gallery-container swiper mySwiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery1-desktop-min.jpg    1x,
                ./images/gallery/gallery1-desktop-2x-min.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery1-tab-min.jpg    1x,
                ./images/gallery/gallery1-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery1-mob-min.jpg    1x,
                ./images/gallery/gallery1-mob-2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/gallery/gallery1-desktop-min.jpg"
              alt="Ice cream with berries in a waffle cup"
              width="1029"
              height="691"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery2.png    1x,
                ./images/gallery/gallery2-2x.jpg 2x
              "
            />

            <img
              src="./images/gallery/gallery2.png"
              alt="Ice cream in a waffle cup"
              width="1029"
              height="691"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery3.png    1x,
                ./images/gallery/gallery3-2x.jpg 2x
              "
            />

            
            <img
              src="./images/gallery/gallery3.png"
              alt="Fruit ice cream on a stick"
              width="1029"
              height="691"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>