<section class="gallery-section">
  <div class="gallery container swiper mySwiper">
    <ul class="gallery-list swiper-wrapper">
      <li class="gallery-item swiper-slide">
        <img
          src="./images/gallery/gallery1.png"
          alt="Ice cream with berries in a waffle cup"
          width="1020"
          height="685"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="./images/gallery/gallery2.png"
          alt="Ice cream in a waffle cup"
          width="1020"
          height="685"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="./images/gallery/gallery3.png"
          alt="Fruit ice cream on a stick"
          width="1020"
          height="685"
        />
      </li>
    </ul>
  </div>
</section>
