<header class="header-hero">
  <div class="container">
    <div class="header-box">
      <!-- nav -->
      <nav class="nav">
        <a href="" class="link logo">
          <svg class="logo__svg">
            <use href="../src/images/symbol-defs.svg#logo"></use></svg
        ></a>

        <ul class="nav__list">
          <ul class="nav__item">
            <a href="" class="nav__link">Home</a>
          </ul>
          <ul class="nav__item">
            <a href="" class="nav__link">How it’s made?</a>
          </ul>
          <ul class="nav__item">
            <a href="" class="nav__link">Our products</a>
          </ul>
          <ul class="nav__item">
            <a href="" class="nav__link">Contact</a>
          </ul>
        </ul>
      </nav>
      <button class="header__burger js-open-menu">
        <svg class="header__svg" width="32" height="32">
          <use href="../src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
      <button class="header__buy-now">Buy-now ></button>
    </div>

    <!-- hero -->
    <section class="hero">
      <h1 class="hero__title">ice cream<br />made with<br />passion</h1>
      <div class="hero__box">
        <button class="hero__button">Products</button>
        <a href="" class="hero__question">How it’s made?</a>
      </div>

      <!-- features -->
      <ul class="features">
        <li class="features__item features__count">16</li>
        <li class="features__item features__name">cafes</li>
        <li class="features__item features__count">23</li>
        <li class="features__item features__name">food trucks</li>
      </ul>
    </section>

    <!-- plate-container -->
    <div class="plate-container">
      <img
        class="plate-ice-cream__img"
        srcset="
          ./images/footer-hero/plate-ice-cream-768@1x.png   152w,
          ./images/footer-hero/plate-ice-cream-768@2x.png   304w,
          ./images/footer-hero/plate-ice-cream-768@3x.png   456w,
          ./images/footer-hero/plate-ice-cream-1200@1x.png  225w,
          ./images/footer-hero/plate-ice-cream-1200@2x.png  450w,
          ./images/footer-hero/plate-ice-cream-1200@3x.png 4675w
        "
        sizes="(max-width:1200px) 225px,(max-width:768px) 152px, 100vw"
        src="./images/footer-hero/ice-cream-480@1x.png"
        alt="морозиво"
      />
      <div class="plate-container__note">
        <p class="plate-container__paragraf">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="plate-container__button">
          <svg class="plate-container__arrow" width="40" height="16">
            <use href="../src/images/symbol-defs.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- hero-img -->
    <div class="container-ice-cream">
      <img
        class="hero-images__img"
        srcset="
          ./images/footer-hero/ice-cream-480@1x.png   177w,
          ./images/footer-hero/ice-cream-480@2x.png   354w,
          ./images/footer-hero/ice-cream-480@3x.png   531w,
          ./images/footer-hero/ice-cream-768@1x.png   268w,
          ./images/footer-hero/ice-cream-768@2x.png   536w,
          ./images/footer-hero/ice-cream-768@3x.png   804w,
          ./images/footer-hero/ice-cream-1200@1x.png  456w,
          ./images/footer-hero/ice-cream-1200@2x.png  912w,
          ./images/footer-hero/ice-cream-1200@3x.png 1368w
        "
        sizes="(max-width:1200px) 456px, (max-width:768px) 268px, (max-width:479px) 177px, 100vw"
        src="./images/footer-hero/ice-cream-480@1x.png"
        alt="морозиво"
      />

      <!-- future animation-->
      <!-- <svg class="hero-images__svg hero-images__svg--1">
        <use href="../src/images/symbol-defs.svg#points-1"></use>
      </svg>
      <svg class="hero-images__svg hero-images__svg--2">
        <use href="../src/images/symbol-defs.svg#points-2"></use>
      </svg> -->
      <!-- tablet-points -->
      <!-- <svg class="hero-images__svg hero-images__svg--3">
        <use href="../src/images/symbol-defs.svg#points-3"></use>
      </svg>
      <svg class="hero-images__svg hero-images__svg--4">
        <use href="../src/images/symbol-defs.svg#points-4"></use>
      </svg> -->
      <!-- desctop-points -->
      <!-- <svg class="hero-images__svg hero-images__svg--5">
        <use href="../src/images/symbol-defs.svg#points-5"></use>
      </svg>
      <svg class="hero-images__svg hero-images__svg--6">
        <use href="../src/images/symbol-defs.svg#points-6"></use>
      </svg> -->

      <!-- mobile-points -->
      <img
        srcset="
          ./images/footer-hero/points/points-320@1x.png 320w,
          ./images/footer-hero/points/points-320@2x.png 640w,
          ./images/footer-hero/points/points-320@3x.png 960w
        "
        class="hero-images__svg hero-images__svg--1"
        alt="points"
        src="./images/footer-hero/points/points-320@1x.png"
        sizes="(max-width:320px) 320px, 100vw"
      />

      <!-- tablet-points -->
      <img
        srcset="
          ./images/footer-hero/points/points-768@1x.png  768w,
          ./images/footer-hero/points/points-768@2x.png 1536w,
          ./images/footer-hero/points/points-768@3x.png 2304w
        "
        class="hero-images__svg hero-images__svg--3"
        alt="points"
        src="./images/footer-hero/points/points-768@1x.png"
        sizes="(max-width:768px) 768px, 100vw"
      />

      <!-- desctop-points -->
      <img
        srcset="
          ./images/footer-hero/points/points-1200@1x.png 1200w,
          ./images/footer-hero/points/points-1200@2x.png 2400w,
          ./images/footer-hero/points/points-1200@3x.png 3600w
        "
        class="hero-images__svg hero-images__svg--5"
        alt="points"
        src="./images/footer-hero/points/points-1200@1x.png"
        sizes="(max-width:1200px) 1200px, 100vw"
      />
    </div>
  </div>
</header>
