<header class="header-hero">
  <div class="container">
    <div class="header-box">
      <a href="" class="link logo">
        <svg class="logo__svg" width="40" height="37">
          <use href="../src/images/symbol-defs.svg#logo"></use></svg
      ></a>
      <button class="header__burger">
        <svg class="logo__burger" width="32" height="32">
          <use href="../src/images/symbol-defs.svg#burger"></use>
        </svg>
      </button>
    </div>

    <!-- hero -->
    <section class="hero">
      <h1 class="hero__title">ice cream<br />made with<br />passion</h1>
      <div class="hero__box">
        <button class="hero__button">Products</button>
        <p class="hero__question">How it’s made?</p>
      </div>

      <!-- hero-images -->
      <div class="hero-images">
        <svg class="hero-images__points-first" width="32" height="32">
          <use href="../src/images/symbol-defs.svg#points-first"></use>
        </svg>
        <img src="./images/footer-hero/mobile.png" alt="" />
        <svg class="hero-images__points-second#points-second" width="32" height="32">
          <use href="../src/images/symbol-defs.svg#burger"></use>
        </svg>
      </div>
    </section>
  </div>
</header>
