<section class="natural-section section">
  <div class="natural-container container">
    <p class="pretitle">100% Natural</p>
    <h2 class="natural-title">Products</h2>
    <ul class="natural-list list">
      <li class="natural-item item-cream">
        <img
          class="img-cream"
          src="./images/natural/kelsey-curtis1.png"
          alt=""
        />

        <div class="wrapper-cream">
          <h3 class="item-title">Ice cream</h3>
          <p class="item-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="item-button">
            <svg class="button-icon" width="40" height="16">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="natural-item item-coffee">
        <img
          class="img-coffee"
          src="./images/natural/pariwat-pannium2.png"
          alt=""
        />
        <div class="wrapper-coffee">
          <h3 class="item-title">Ice coffee</h3>
          <p class="item-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button type="button" class="item-button">
            <svg class="button-icon" width="40" height="16">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="natural-item item-milkshakes">
        <img
          class="img-milkshakes"
          src="./images/natural/victor-rutka3.png"
          alt=""
        />
        <div class="wrapper-milkshakes">
          <h3 class="item-title">Milkshakes</h3>
          <p class="item-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button" class="item-button">
            <svg class="button-icon" width="40" height="16">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
