<section class="natural" id="natural">
  <div class="container">
    <h2 class="natural__title">
      100% natural <br />
      <span class="natural__span">products</span>
    </h2>

    <!-- modal img  -->
    <div class="natural__gap-box">
      <div class="natural__box-title">
        <div class="natural__box-container">
          <div class="natural__box">
            <img
              class="natural__img"
              srcset="
                ./images/natural/natural-320-01@1x.png 200w,
                ./images/natural/natural-320-01@2x.png 400w,
                ./images/natural/natural-320-01@3x.png 600w,
                ./images/natural/natural-768-01@1x.png 200w,
                ./images/natural/natural-768-01@2x.png 400w,
                ./images/natural/natural-768-01@3x.png 600w,
                ./images/natural/natural-1200-01@1x.png 302w,
                ./images/natural/natural-1200-01@2x.png 604w,
                ./images/natural/natural-1200-01@3x.png 906w
              "
              sizes="(min-width:1200px) 302px, (min-width:768px) 200px, (min-width:320px) 200px, 100vw"
              src="./images/natural/natural-1200-01@1x.png"
              alt="морозиво"

            />
            <div class="natural__elips"></div>
          </div>
        </div>
        <p class="natural__name">ice cream</p>
        <p class="natural__descriptions">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="plate-container__button" data-ingredients-open>
          <svg class="plate-container__arrow plate-container__arrow--black" width="40" height="16">
            <use href="../src/images/symbol-defs.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div class="natural__box-title">
        <div class="natural__box-container">
          <div class="natural__box">
            <img
              class="natural__img"
              srcset="
                ./images/natural/natural-320-02@1x.png 200w,
                ./images/natural/natural-320-02@2x.png 400w,
                ./images/natural/natural-320-02@3x.png 600w,
                ./images/natural/natural-768-02@1x.png 200w,
                ./images/natural/natural-768-02@2x.png 400w,
                ./images/natural/natural-768-02@3x.png 600w,
                ./images/natural/natural-1200-02@1x.png 302w,
                ./images/natural/natural-1200-02@2x.png 604w,
                ./images/natural/natural-1200-02@3x.png 906w
              "
              sizes="(min-width:1200px) 302px, (min-width:768px) 200px, (min-width:320px) 200px, 100vw"
              src="./images/natural/natural-1200-02@1x.png"
              alt="морозиво"

            />
            <div class="natural__elips"></div>
          </div>
        </div>
        <p class="natural__name">ice coffee</p>
        <p class="natural__descriptions">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="plate-container__button" data-ingredients-two-open>
          <svg class="plate-container__arrow plate-container__arrow--black" width="40" height="16">
            <use href="../src/images/symbol-defs.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div class="natural__box-title">
        <div class="natural__box-container">
          <div class="natural__box">
            <img
            class="natural__img"
            srcset="
              ./images/natural/natural-320-03@1x.png 200w,
              ./images/natural/natural-320-03@2x.png 400w,
              ./images/natural/natural-320-03@3x.png 600w,
              ./images/natural/natural-768-03@1x.png 200w,
              ./images/natural/natural-768-03@2x.png 400w,
              ./images/natural/natural-768-03@3x.png 600w,
              ./images/natural/natural-1200-03@1x.png 302w,
              ./images/natural/natural-1200-03@2x.png 604w,
              ./images/natural/natural-1200-03@3x.png 906w
            "
            sizes="(min-width:1200px) 302px, (min-width:768px) 200px, (min-width:320px) 200px, 100vw"
            src="./images/natural/natural-1200-03@1x.png"
            alt="морозиво"

          />
            <div class="natural__elips"></div>
          </div>
        </div>
        <p class="natural__name">milkshakes</p>
        <p class="natural__descriptions">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="plate-container__button" data-ingredients-three-open>
          <svg class="plate-container__arrow plate-container__arrow--black" width="40" height="16">
            <use href="../src/images/symbol-defs.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
