.advantages {
  position: relative;
  padding-top: 178px;
  padding-bottom: 417px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/natural/bg-pic-320@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/natural/bg-pic-320@2x.png);
  }

  @include tablet {
    padding-bottom: 379px;
    padding-top: 283px;

    background-image: url(../images/natural/bg-pic-768@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/natural/bg-pic-768@2x.png);
    }
  }

  @include desctop {
    padding-bottom: 228px;
    padding-top: 464px;

    background-image: url(../images/natural/bg-pic-1200@1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/natural/bg-pic-1200@2x.png);
    }
  }
}

// img
.one-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -32px;

  @include tablet {
    top: -144px;
  }

  @include tablet {
    top: -98px;
  }
}

.advantages__img-container {
  width: 280px;
  height: 130px;
  border-radius: 8px;

  @include tablet {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }

  @include desctop {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}

.advantages__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.advantages__img-container .swiper-pagination {
  display: none;
}

// avatar
.swiper-wrapper {
  margin-bottom: 12px;
  @include tablet {
    margin-bottom: 32px;
  }
}

.advantages__comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__avatar {
  margin-bottom: 32px;
  border-radius: 50%;
}

.commentar-box {
  width: 280px;
  height: 256px;
  background-color: #84a178;
  @extend %flex-center;
  padding: 35px 39px;
  border-radius: 10px;
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(31 / 12);
  color: #fcfcfc;

  @include tablet {
    width: 705px;
    height: 138px;

    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
    border-radius: 24px;
  }

  @include desctop {
    width: 968px;
    height: 138px;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.advantages__name {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  color: #131313;

  @include tablet {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

// pagination
.one .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.one
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.one .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.one .swiper-pagination-bullet-active {
  background: #84a178;
}

.one .swiper-pagination {
  position: static;
}