.customer-reviews {
  padding-left: 20px;
  padding-right: 20px;

  background-image: url(../images/customer/backgroud_mobile.jpg);

  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url(../images/customer/backgroud_mobile-2x.jpg);
  }
  @include tablet {
    background-image: url(../images/customer/backgroud_tablet.jpg);
    @include retina {
      background-image: url(../images/customer/background_tablet-2x.jpg);
    }
  }
  @include desctop {
    background-image: url(../images/customer/backgroud_desktop.jpg);
    @include retina {
      background-image: url(../images/customer/backgroud_desktop-2x.jpg);
    }
  }
}
