.footer {

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.section-buttons {
    margin: 60px auto 120px;
}

.button-footer {
    width: 196px;
    height: 42px;
    border-radius: 10px;
    fill: #000000;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    &.locations {
        color: #131313;
        background-color: #F8D24E;
        border: none;
        &:hover {
            color: #000000;
            background-color: #0A8817;
        }
        &:focus {
            color: #ffffff;
            fill: #ffffff;
        }
        &:disabled {
            background-color: #ABABAB;
        }
    }

    &.franchise {
        color: #000000;
        background-color: inherit;
        border: 2px solid #F8D24E;
        &:hover {
            border-color: #0A8817;
        }
        &:focus {
            border-color: #0A8817;
            color: #ffffff;
            fill: #ffffff;
        }
        &:disabled {
            border-color: #ABABAB;
        }
    }
}

.button-footer-icon {
    width: 12px;
    height: 12px;
    margin: 0 0 0 4px;
}

.section-footer {
    margin: 0 0 60px;
}

.footer-title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #FCFCFC;
    &.small {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
    &.big {
        font-weight: 700;
        font-size: 58px;
        line-height: 1.22;
        letter-spacing: 0.06em;
    }
}

.footer-list {
    margin: 0 0 40px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.footer-links {
    width: 34px;
    height: 34px;
    fill: #84A178;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8D24E;
    border-radius: 50%;
    &:hover,
    &:focus {
        fill: #FCFCFC;
    }
}

.icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.contact {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.02em;
    &.text {
        color: #131313;
    }
    &.tel {
        color: #FFFFFF;
    }
}