.buttons {
  gap: 16px;

  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.section-buttons {
  margin: 20px 0 60px;
  display: flex;
  justify-content: center;

  @include tablet {
    display: flex;
    align-items: center;
  }
  @include desctop {
    display: flex;
    align-items: center;
  }
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  fill: #000000;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  @include tablet {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &.locations {
    padding: 12px 39px 12px 40px;
    color: #131313;
    background-color: #f8d24e;
    border: none;
    margin-bottom: 16px;
    &:hover {
      color: #000000;
      background-color: #0a8817;
    }
    &:focus {
      color: #ffffff;
      fill: #ffffff;
    }
    &:disabled {
      background-color: #ababab;
    }
  }

  &.franchise {
    padding: 10px 52px 10px 55px;
    color: #000000;
    background-color: inherit;
    border: 2px solid #f8d24e;
    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      border-color: #0a8817;
      color: #ffffff;
      fill: #ffffff;
    }
    &:disabled {
      border-color: #ababab;
    }
  }
}

.button-footer-icon {
  width: 12px;
  height: 12px;
  margin: 0 0 0 4px;
}

.section-footer {
  border-bottom: 1px solid #e1e1e1;
    
  @include tablet {
    margin: 0;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desctop {
    margin: 0;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.footer-title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #fcfcfc;
  &.small {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 16px;

    @include tablet {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.23;
      letter-spacing: 0.04em;
      margin-bottom: 8px;
    }

    @include desctop {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.23;
      letter-spacing: 0.04em;
      margin-bottom: 14px;
    }
  }
  &.big {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 60px;
    width: 200px;
    height: 76px;

    @include tablet {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.22;
      letter-spacing: 0.06em;
      width: 352px;
      height: 118px;
    }

    @include desctop {
      font-weight: 700;
      font-size: 58px;
      line-height: 1.22;
      letter-spacing: 0.06em;
      width: 497px;
      height: 71px;
    }
  }
}

.footer-list {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;

  @include tablet {
    margin: 0 0 34px;
    gap: 30px;
  }
  @include desctop {
    margin: 0 0 40px;
    gap: 30px;
  }
}

.footer-links {
  width: 34px;
  height: 34px;
  fill: #84a178;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d24e;
  border-radius: 50%;
  &:hover,
  &:focus {
    fill: #fcfcfc;
  }
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
}

.contact {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;
  text-align: right;

  margin-bottom: 40px;
  &.text {
    color: #131313;
  }
  &.tel {
    color: #ffffff;
  }

  @include tablet {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.87;
    white-space: nowrap;
  }
  @include desctop {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.02em;
  }
}

.reserved {
  margin: 20px auto;
  width: 155px; 
  height: 42px; 
  display: flex;
  align-items: center;
  padding: 0;

  @include tablet {
    margin: 12px auto;
    width: 298px;
    height: 26px;
  }
}

.reserved-text {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #7a7a7a;

  @include tablet {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}
