.natural-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/natural/Backgroud-mobile.jpg);
}

.pretitle {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
}

.natural-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
}

.natural-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 60px;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }
  @include desctop {
    gap: 29px;
  }
}

.natural-item {
  position: relative;
  width: 100%;
  @include tablet {
    width: 224px;
  }
  @include desctop {
    width: 370px;
  }
}

.img-cream {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 3;
  margin: 0 auto;
}

.wrapper-natural {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  margin-top: 111px;
  background-color: #aec6a5;
  border-radius: 24px;
  padding: 123px 0 16px;
  height: 420px;
  padding-left: 40px;
  padding-right: 40px;
  @include tablet {
    padding-bottom: 12px;
    height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @include desctop {
    padding-bottom: 60px;
    height: 536px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 167px;
    padding-top: 165px;
  }
}

.img-coffee {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 3;
  margin: 0 auto;
}
.wrapper-coffee {
  background-color: #efd478;
}

.img-milkshakes {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 3;
  margin: 0 auto;
}
.wrapper-milkshakes {
  background-color: #d6936d;
}

.item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 48px;
}

.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}

.item-button {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  //   margin-top: 111px;
}
.img-natural-item {
  @include desctop {
    height: 302px;
    width: 302px;
  }
}

.img-shadow {
  height: 200px;
  width: 200px;

  background: linear-gradient(
      0deg,
      rgba(213, 118, 63, 0),
      rgba(213, 117, 63, 0)
    ),
    #d9d9d900;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 50%;

  margin: auto;
  margin-top: 11px;
  @include desctop {
    height: 302px;
    width: 302px;
    margin-top: 16px;
  }
}
