.footer__flex {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
  }

  @include desctop {
    margin-bottom: 60px;
  }
}

.footer__title-box {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
}

.foote__title-one {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: #fcfcfc;

  margin-bottom: 16px;

  @include tablet {
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;

    margin-bottom: 8px;
  }

  @include desctop {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);

    margin-bottom: 14px;
  }
}

.foote__title-two {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;

  @include tablet {
    font-size: 48px;
    line-height: calc(59 / 48);
    letter-spacing: 0.06em;
  }

  @include desctop {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.footer__br {
  @include desctop {
    display: none;
  }
}
